.root {
    border: 1px solid #769787;
    border-radius: 2px;
    color: #769787;
}

.root:focus {
    outline: 1px solid #769787;
    color: black;
}

.root:hover {
    background-color: #e8edea;
    color: black;
}




