.root {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 190px;
    height: 195px;
    border-radius: 5px;
    background-color: white;
}

.root_visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content::after {
    position: absolute;
    padding-left: 2px;
    padding-right: 2px;
    top: 30%;
    content: "Тип модального окна: Css";
    background-color: rgba(255, 0, 0, 0.39);
}